@font-face {
    font-family: 'Gothampro';
    src: url('fonts/gothampro.ttf') format('woff2');
}

/* @font-face {
    font-family: 'Gothampro';
    src: url('fonts/gothampro_black.ttf') format('woff2');
} */

/* Надо подключить остальные мб шрифты */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

/* General styles */

html {
    scroll-behavior: smooth !important;
    /* Включает плавную прокрутку */
}


.container {
    /* max-width: 1680px !important;
    width: 100% !important; */
}

h1 {
    font-size: 48px !important;
    font-family: 'Gothampro';
    color: white;
    stroke: white;
    stroke-width: 1px;
    stroke-opacity: 0.5;
    font-weight: 700 !important;
}

p {
    font-family: 'Gothampro';
    color: white;
}

.button {
    background-color: #14213D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 75px;
    color: white;
    border-radius: 50px;
    box-shadow: #000;
    font-size: 26px;
    font-family: "Gothampro";
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 0.25s ease-out;
}

.button:hover {
    background-color: #FCA311;
    /* color: #14213D; */
}

/* Header --------------------------------------------------------*/

.header {
    background: url(/public/imgs/header-back.jpg);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    background: rgb(0, 0, 0, 0.5)
}

.header-top__adress {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__icon {
    margin-right: 10px;
    display: block;
}

.header-top__text {
    font-size: 28px;
    color: white;
    font-family: "Gothampro";
    cursor: pointer;
}

.header-main {
    padding: 150px 0 140px 0;
}

.header-main__block {
    background: rgb(109, 109, 109, 0.35);
    backdrop-filter: blur(40px);
    border-radius: 50px;
    padding: 50px 70px 70px !important;
    height: 100%;
    min-height: 400px;
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-main__block-inner {
    min-height: 320px !important;
}

.header-main__block_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0 !important;
    max-width: 100% !important;
    min-height: 143px !important;
    margin-bottom: 24px;
}

.header__title {
    text-align: center;
    margin: 0;
    font-weight: 500 !important;
}

.header__text {
    color: white;
    font-size: 28px;
}

@media screen and (max-width: 1200px) {
    .header-main__block-inner {
        margin-bottom: 24px;
    }

    .header-main {
        padding-bottom: 190px;
    }

    .header-main__block {
        min-height: 0 !important;
    }

    .header__text {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 992px) {
    .header__title {
        font-size: 3em !important;
        padding: 0 15px;
    }

    .header-main {
        padding: 100px 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .header-top__text {
        font-size: 1.5em;
    }

    .header-top__icon {
        max-width: 30px;
        margin-right: 5px;
    }

    .header-main {
        padding: 80px 0 !important;
    }

    h1 {
        font-size: 3em !important;
    }
}


@media screen and (max-width: 600px) {
    .header-main__block {
        padding: 50px !important;
    }

    .header__title {
        padding: 0;
    }

    .header-main__block_title {
        padding: 25px 15px !important;
    }

    .button {
        min-width: 0px !important;
        min-height: 0px !important;
        padding: 30px 85px;
    }

    .header-top {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 425px) {
    .header-top {
        display: none;
    }

    .header-main {
        padding-top: 100px;
    }

    .header-main__block {
        padding: 35px 20px !important;
    }

    .header-main__block_title {
        padding: 25px 15px !important;
    }

    .header__text {
        margin-bottom: 30px;
    }

    .header__btn {
        width: none !important;
        height: none !important;
    }

    .button {
        width: 100% !important;
        font-size: 1.7em !important;
    }

    .header__title {
        font-size: 2.5em !important;
    }
}

@media screen and (max-width: 375px) {
    .header-main__block {
        /* padding: 35px 0 !important; */
        box-sizing: border-box !important;
    }

    .header__text {
        font-size: 1.5em !important;
    }

    .header-main__block-inner {
        min-height: 0px !important;
    }

    .header-main {
        padding: 75px 0 40px !important;
    }
}

/* main------------------------------------------------------------------------- */
/* for background */

.main {
    background: url(/public/imgs/3secs-back.jpg);

}

/* stages------------------------------------------------------------------- */

.stages {
    padding: 100px 0 175px !important;
}

.stages-main {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 45px 0;
}

.stages__title {
    margin-bottom: 10px !important;
}

.stages__items {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.stages__item {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;
    min-height: 162px;
}

.stages-main__bottom {
    display: flex;
    margin-top: 100px;
    align-items: baseline;
}

.stages__star {
    margin-right: 5px;
}

.stages__text {
    font-size: 1.9em;
    font-family: "Gothampro";
    color: white;
    margin-left: 25px;
    line-height: 34px;
}

.stages__text_right {
    text-align: right;
    margin-right: 25px;
    margin-left: 0;
}

.stages-main__text {
    font-size: 1.3em;
    font-family: "Gothampro";
    color: white;
    margin-left: 5px;
}

@media screen and (max-width: 1200px) {
    .stages__text_right {
        margin-right: 15px;
    }

    .stages__text {
        margin-left: 25px;
    }

    .stages__title-wrapper {
        padding-left: 35px !important;
    }
}

@media screen and (max-width: 992px) {
    .stages-main__text {
        max-width: 500px;
    }

    .stages-main__bottom {
        padding-left: 35px !important;
    }
}

@media screen and (max-width: 600px) {
    .stages__circle {
        max-width: 110px;
    }

    .stages__text {
        margin-left: 15px;
        font-size: 1.8em;
    }

    .stages__star {
        max-width: 18px;
    }
}

@media screen and (max-width: 600px) {
    .stages__circle {
        max-width: 90px;
    }

    .stages__text {
        font-size: 1.7em;
    }

    .stages-main__text {
        padding: 0 0 30px 0 !important;
    }

    .stages .row {
        padding: 0 !important;
    }

    .stages__title-wrapper {
        padding: 0 .75rem !important;
    }

    .stages-main__bottom {
        padding: 0 .75rem !important;
    }

    .stages__title {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .stages {
        padding: 100px 0 !important;
    }

    .stages-main {
        border: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .stages__item {
        /* border-top: 1px solid white; */
        border-bottom: 1px solid #8F9090;
        padding: 35px 10px !important;
        margin-top: 0px !important;
    }

    .stages {
        margin: 0 !important;
        width: 100% !important;
    }

    .stages-main__bottom {
        margin-top: 28px !important;
    }

    .stages__title {
        margin-bottom: 50px !important;
    }

    .stages__text_right {
        margin-left: 0 !important;
    }

    .stages__text {
        font-size: 1.6em;
    }

    .stages-main__text {
        padding-bottom: 20px !important;
    }

    .stages__text_add {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .stages {
        padding: 30px 0 70px !important;
    }

    .stages__text {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2.5em !important;
    }
}


/* extra----------------------------------------------------------------- */

.extra {
    padding: 100px 0;
}

.extra-title {}

.extra-title__inner {
    padding: 0 !important;
    display: flex;
    align-items: center;
}

.extra__line {
    height: 1px;
    width: 100%;
    opacity: 0.5;
    background-color: white;
}

.extra__line_short {
    max-width: 173px !important;
}

.extra__title {
    display: block;
    text-wrap: nowrap;
    margin: 0 !important;
}

.extra__items {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}

.extra-item__wrapper {
    display: block;
    margin-bottom: 30px !important;
}

.extra__item {
    background-color: white;
    border-radius: 50;
    border-radius: 50px;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    padding: 25px !important;
    height: 100%;
}

.extra__star {
    max-height: 32px;
}

.extra__star-wrapper {
    display: flex;
    justify-content: end;
}

.extra__num {
    color: black;
    opacity: 0.35;
    font-size: 32px
}

.extra__text {
    color: black;
    opacity: 0.75;
    font-size: 32px;
    margin-top: 15px;
    line-height: 1.3em;
}

.extra__text_price {
    color: #FCA311;
    opacity: 1;
    font-size: 24px;
    margin-top: 25px;
}

.extra__line_long {
    flex: 8 !important;
}

.extra__line {
    flex: 1;
}

.extra__btn {
    min-width: 275px;
    min-height: 95px;
    flex: 1;
}

.extra-bottom {
    padding-bottom: 100px;
    margin-bottom: 0 !important;
    max-width: 100% !important;
}

@media screen and (max-width: 1200px) {
    .extra__item {
        padding-bottom: 35px !important;
    }
}

@media screen and (max-width: 425px) {
    .extra__text {
        font-size: 1.7em !important;
    }

    .extra__text_price {
        font-size: 1.4em !important;
    }

    .extra__star {
        max-width: 20px !important;
    }

    .extra {
        padding: 50px 0 !important;
    }

    .extra-bottom {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {
    .extra__num {
        font-size: 2.1em;
    }

    .extra__text {
        margin-top: 5px;
    }

    .extra {}

    .extra__btn {
        display: none;
    }
}

/* form--------------------------------------------------------------------- */

.form {
    padding: 100px 0 125px;
}

.form__wrapper {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding: 65px 0 30px;
}

.form__title {
    margin-bottom: 30px !important;
    padding-left: 50px !important;
}

.form__subtitle {
    font-size: 28px;
    margin-bottom: 45px;
    padding-left: 50px !important;
}

.form__inner {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.form__left {
    margin-bottom: 50px;
}

.form__textarea {
    resize: none;
    overflow: hidden;
    padding: 20px 40px !important;
    border: 1px solid #000 !important;
    border-radius: 50px !important;
    background-color: white !important;
    font-size: 30px !important;
    color: black !important;
    font-weight: 500;
    box-sizing: border-box !important;
    box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.25) !important;
    min-height: 214px !important;
}

.form__textarea::placeholder {
    font-size: 30px !important;
    color: rgb(88, 88, 88) !important;
}

.form__textarea:focus {
    box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.25) !important;
    outline: none;
}

.form__input {
    border: 1px solid #000 !important;
    border-radius: 50px !important;
    background-color: white !important;
    font-size: 30px !important;
    color: black !important;
    font-weight: 500;
    padding: 40px 40px !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.25) !important;
}

.form__input:first-child {
    margin: 0 0 50px 0 !important;
}

.form__input::placeholder {
    font-size: 30px !important;
    color: rgb(88, 88, 88) !important;
}

.form__input:focus {
    box-shadow: 2px 6px 4px 0 rgba(0, 0, 0, 0.25) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Убирает стандартный вид стрелок */
    margin: 0;
    /* Убирает дополнительные отступы */
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Изменяет стиль на текстовое поле */
}

.form__btn {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
    background: #14213d !important;
    border-radius: 50px !important;
    font-size: 30px !important;
    min-width: 275px !important;
    min-height: 95px !important;
    font-family: "Gothampro" !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    margin-top: 80px !important;
    transition: 0.25s ease-out !important;
}

.form__btn:hover {
    background-color: #FCA311 !important;
}

.form__call-block {
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    padding-right: 30px !important;
}

.form__call-text {
    color: #FCA311;
    font-size: 22px;
    margin-right: 10px;
}

.form__call-arrow {}

@media screen and (max-width: 1200px) {
    .form__call-block {
        margin-top: 25px;
    }
}

@media screen and (max-width: 425px) {
    .form__wrapper {
        padding: 30px 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form__title {
        padding: 0 !important;
        text-align: center;
    }

    .form__subtitle {
        padding: 0 !important;
        text-align: center;
    }

    .form__inner {
        padding: 0 !important;
    }

    .form__btn {
        min-height: 75px !important;
        font-size: 1.5em !important;
    }

    .button {
        font-size: 1.5em !important;
    }

    .form__input,
    .form__input::placeholder,
    .form__textarea,
    .form__textarea::placeholder {
        font-size: 1.3em !important;
    }

    .form__call-block {
        padding: 0 .75rem !important;
    }

    .form__input {
        padding: 30px 40px !important;
    }

    .form__call-text {
        font-size: 1.3em;
    }

    .form__wrapper {
        padding: 0 10px 30px;
    }

    .form__left,
    .form__textarea-wrapper {
        padding: 0 !important;
    }

    .form {
        padding: 100px 0px !important;
    }
}

@media screen and (max-width: 375px) {
    .form__btn {
        margin-top: 50px !important;
    }
    .form__input {
        padding: 30px 20px !important;
        max-width: 100% !important;
    }
    .form__left {
        max-width: 100%;
    }
}


/* message---------------------------------------------------------------- */

body {
    position: relative;
    transition: 0.25s ease-out;
}

body.active {
    overflow-y: hidden;
}

.message {
    position: fixed;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
}

.message.active {
    display: flex;
}

.message__inner {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border-radius: 100px;
    background: rgb(109, 109, 109, 0.35);
    backdrop-filter: blur(40px);
}

.message__text {}

.message__button {
    font-size: 30px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .message__inner {
        width: 90%;
        height: 40%;
        padding: 25px;
    }
    .message__text {
        font-size: 1.2em;
        text-align: center;
    }
    .message__button {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 425px) {
    .message__inner {
        width: 90%;
        height: 40%;
        padding: 25px;
        border-radius: 40px;
    }
    .message__text {
        font-size: 1.2em;
        text-align: center;
    }
    .message__button {
        font-size: 1.5em;
        width: 50% !important;
    }
}

/* map---------------------------------------------------------------- */

.map {
    display: block;
    width: 100%;
    height: 600px;
    /* filter: brightness(50%);
    -ms-filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    transition: all 0.15s ease-out; */
    filter: grayscale(100%) brightness(100%);
    cursor: pointer;
}

/* .map:hover {
    filter: brightness(100%);
    -ms-filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
} */

@media screen and (max-width: 425px) {
    .map {
        height: 450px;
    }
}

/* footer-------------------------------------------------------- */

.footer {
    background: url(/public/imgs/footer-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0;
    display: flex;
    align-items: center;
}

.footer__line {
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
    flex: 1;
}

.footer__line_middle {
    flex: 8;
}

.footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px; */
    /* padding: 8px 40px; */
    padding: 0px 15px;
    min-height: 66px;
    flex: 1;
}

.footer__text {
    font-size: 20px;
    font-family: "Gothampro";
    color: white;
    text-wrap: nowrap;
}

.footer__copy {
    font-size: 32px;
    font-family: "Gothampro";
    color: white;
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .footer__text {
        font-size: 1.3em;
    }

    .footer__copy {
        font-size: 1.8em;
        margin-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .footer__line {
        display: none;
    }

    .footer__item {
        justify-content: start;
        padding: 0;

        max-width: min-content;
    }

    .footer {
        justify-content: space-between;
        padding: 25px 20px;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
}